/* Colors nedeed store as variables*/
:root{
--white: hsl(0, 0%, 100%);
--light-gray: hsl(212, 45%, 89%);
--grayish-blue: hsl(220, 15%, 55%);
--dark-blue: hsl(218, 44%, 22%);
}

body{
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

/* Contains the body of the card with it`s content */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9em 0em;
    background-color: var(--light-gray);
}

/* Card`s body */
.card-body {
    max-width: 275px;
    padding: 1em;
    text-align: center;
    background-color: var(--white);
    border-radius: 20px;
}

.card-body img{
    min-width: 100%;
    max-width: 41%;
    border-radius: 10px;
}

.card-body h1{
  font-size: 1.5em;
    color: var(--dark-blue);
}

.card-body p {
    font-size: 15px;
    padding: 0em 0.5em 0.5em 0.5em ;
    color: var(--grayish-blue);
}


